<div class="container">
  <footer>
    <h1>クイズアプリ</h1>
  </footer>
<!--   <div class="panel panel-default"> -->
    <div class="card">
      <div class="row">
        <div class="col-3 q-box">
          <%= link_to( 'Q1', 'quizzes/show1', class: 'm-on') %>
          <span class="exp">地理に関するクイズだよ！難易度★☆☆</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q2', 'quizzes/show2', class: 'm-on') %>
          <span class="exp">動物に関するクイズだよ！難易度★★★</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q3', 'quizzes/show3', class: 'm-on') %>
          <span class="exp">生活雑学に関するクイズだよ！難易度★★☆</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q4', 'quizzes/show4', class: 'm-on') %>
          <span class="exp">言葉の雑学に関するクイズだよ！難易度★★★</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3 q-box">
          <%= link_to( 'Q5', 'quizzes/show5', class: 'm-on') %>
          <span class="exp">エンタメ雑学に関するクイズだよ！難易度★★☆</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q6', 'quizzes/show6', class: 'm-on') %>
          <span class="exp">化学に関するクイズだよ！難易度★★★</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q7', 'quizzes/show7', class: 'm-on') %>
          <span class="exp">大阪に関するクイズだよ！難易度★★☆</span>
        </div>
        <div class="col-3 q-box">
          <%= link_to( 'Q8', 'quizzes/show8', class: 'm-on') %>
          <span class="exp">プログラミングで使う英単語に関するクイズだよ！難易度★★☆</span>
        </div>
      </div>
    </div>
<!--   </div> -->
  <div class="form-group qd-group">
    <p class="qd-title">クイズの内容</p>
    <textarea rows="3" class="form-control qd-area"></textarea>
  </div>
</div>



